h2{
  font-family: Palatino;
  font-weight: bold;
}

h3{
  font-family: 'Palatino';
  font-weight: bold;
}

p{
  font-family: 'Palatino';
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/